/*General header and title*/
.main-header{
	top: 0px;
	left: 0px;
	height: 300px;
	width: auto;
	background-color: #00A0AA;
	color: white;
}
.main-header-content{
	margin: 0% 0% 0% 10%;
	float: left;
	position: relative;
	top: 24px;
	width: 60%;
	font-family: 'Montserrat', sans-serif;
}
.main-header-main-title{
	margin: 0%;
	font-size: 48px;
}
/*List of contents*/
.content-nav-list{
	padding: 0px;
	margin: 0px;
	position: relative;
	top: 50%;
	height: 50px;
	float: left;
}
.nav-list-item{
	list-style-type: none;
	display: inline-block;
	height: 35px;
	width: auto;
	padding: 5px;
	font-size: 24px;
	font-weight: 100;
}
.nav-list-item:hover{
	background-color: #40AFB7;
}
.nav-list-link{
	text-decoration: none;
	color: inherit;
}
/*Social links of the header.*/
.main-header-social{
	margin-right: 10%;
	position: relative;
	float: right;
	clear:right;
	width: 20%;
	height: 150px;
	top: 150px;
}
.social-links-list{
	margin: 0%;
	padding: 0%;
	height: 150px;
	width: auto;
	font-size: 24px;
}
.social-links-list-elements{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	list-style-type: none;
	display: inline-block;
}
